- noti_janghak.csv와 test.csv합쳐보기
- append 해보기

In [1]:
import pandas as pd

# 첫 번째 CSV 파일 읽기
df1 = pd.read_csv("noti_janghak.csv")

# 두 번째 CSV 파일 읽기
df2 = pd.read_csv("test.csv")

# 두 데이터프레임 합치기
merged_df = pd.concat([df1, df2], ignore_index=True)

# 합쳐진 데이터프레임을 CSV 파일로 저장
merged_df.to_csv("merged.csv", index=False)

In [2]:
merged_df

,index,date,title,content
0,1260,2024.03.28,[공통][교내]2024-1 윤강로 장학금 장학생 모집 안내(~4/17),\n2024-1윤강로 장학금 장학생 모집 안내\n\n아래와 같이2024-1학기 윤강...
1,1259,2024.03.28,[공통][교내]2024-1 故장경자 장학금 장학생 모집 안내(~4/17),\n2024-1故장경자 장학금 장학생 모집 안내\n\n아래와 같이2024-1학기故장...
2,1229,2024.02.20,"객원강의교수, 특임강의교수 초빙 합격자 발표(2024-1학기 2차)","\n객원강의교수, 특임강의교수 초빙 합격자 발표(2024-1학기 2차)\n\n합격자..."
3,1228,2024.02.20,강사 초빙 합격자 발표(2024-1학기 2차),\n강사 초빙 합격자 발표(2024-1학기 2차)\n\n합격자 확인하기\n\n\n한...

In [7]:
import pandas as pd

# 데이터 생성
data = {
    'index': ['2220', '100'],
    'date': ['2019.05.06', '2018.12.25'],
    'title': ['인문100년어쩌구', '가족장학어쩌구'],
    'content': ['안내좀 읽어', '잉잉어려워']
}

# 데이터프레임 생성
df = pd.DataFrame(data)

# CSV 파일로 저장
df.to_csv('./toy_data/new_test.csv', index=False)

In [15]:
df3 = pd.read_csv('./toy_data/new_test.csv', encoding='cp949')
df3

   index        date      title content
0   2220  2019-05-06  인문100년어쩌구  안내좀 읽어
1    100  2018-12-25    가족장학어쩌구   잉잉어려워
2    101  2025-01-01     나 추가할래     가능?

In [21]:
merged_df_1 = pd.concat([df3, merged_df], ignore_index=True)
# 합쳐진 데이터프레임을 CSV 파일로 저장
merged_df_1.to_csv("merged_1.csv", index=False)

In [20]:
# 손수 추가해도 합치기 가능. 다만 csv파일로 만들고 꼭 할 것.
df4 = pd.read_csv('merged_1.csv')
df4

,index,date,title,content
0,2220,2019-05-06,인문100년어쩌구,안내좀 읽어
1,100,2018-12-25,가족장학어쩌구,잉잉어려워
2,101,2025-01-01,나 추가할래,가능?
3,1260,2024.03.28,[공통][교내]2024-1 윤강로 장학금 장학생 모집 안내(~4/17),\n2024-1윤강로 장학금 장학생 모집 안내\n\n아래와 같이2024-1학기 윤강...
4,1259,2024.03.28,[공통][교내]2024-1 故장경자 장학금 장학생 모집 안내(~4/17),\n2024-1故장경자 장학금 장학생 모집 안내\n\n아래와 같이2024-1학기故장...
5,1229,2024.02.20,"객원강의교수, 특임강의교수 초빙 합격자 발표(2024-1학기 2차)","\n객원강의교수, 특임강의교수 초빙 합격자 발표(2024-1학기 2차)\n\n합격자..."
6,1228,2024.02.20,강사 초빙 합격자 발표(2024-1학기 2차),\n강사 초빙 합격자 발표(2024-1학기 2차)\n\n합격자 확인하기\n\n\n한...

### 방법론
- 이미지 추출 -> pandas로 인덱스 지정 및 첫 줄 데이터 첨부해주기 -> 아마 엔코딩이 깨질 것
    - 엑셀 켜서 파일 양식 바꿔서 다른이름 저장 -> 이후 엑셀로 켜서 쭉쭉 넣어주기
- 중간에 한번씩 잘 들어가는지, 다른데이터와 병합 잘되는지 확인할 것. 
- 깨지면 encoding utf-8. cp949, or 아예 encoding 안하는 것 확인